@keyframes zoom {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes animCircle {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(93px);
  }
}
@keyframes imgHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
