.footer {
  background-color: color(footer-bg);

  a {
    color: color(white-color);
    transition: all 0.3s ease-in-out;
    &:hover {
      color: color(primary);
    }
    &.footer-info-links:hover {
      color: color(input);
    }
  }
  &-logo {
    max-width: 240px;
    max-height: 85px;
  }
  &-social-icons {
    a {
      width: 40px;
      height: 40px;
      svg {
        width: 25px;
        height: 25px;
        path {
          fill: color(primary);
        }
      }
      &:hover {
        background-color: color(light-white);
        animation: zoom 0.4s ease-in-out alternate infinite;
        path {
          fill: color(footer-bg);
        }
      }
    }
  }
  &-info-icons {
    width: 25px;
    height: 25px;
  }
}
