.custom-form {
  .form-control {
    border-color: color(input-border);
    color: color(input);
    padding: 11px 14px;
    &::placeholder {
      color: color(input-placeholder);
    }
    &:focus {
      border-color: color(input-focus);
    }
  }
  textarea.form-control {
    vertical-align: bottom;
    min-height: 120px;
  }
}
