.custom-navbar {
  &-upper {
    .logo {
      max-width: 300px;
      max-height: 85px;
    }
    .info-text {
      transition: all 0.2s ease;
      span {
        cursor: pointer;
      }
      .icons {
        width: 32px;
      }
      &:hover {
        color: color(input);
      }
    }
  }
  &-lower {
    &.is-sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      .logo-sm {
        display: block;
      }
    }
    .logo-sm {
      max-width: 150px;
      max-height: 80px;
      display: block;
      @media screen and (min-width: 992px) {
        display: none;
      }
      @media screen and (max-width: 575px) {
        max-width: 130px;
      }
    }
    .navbar-toggler {
      padding: 4px 5px;
      border-radius: 6px;
      outline: none;
      &-icon {
        width: 1.3em;
        height: 1.3em;
        background-image: url("../../images/cross.png");
        background-size: 75%;
      }
      &.collapsed {
        .navbar-toggler-icon {
          background-image: url("../../images/menu-icon.png");
        }
      }
    }
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      width: 100%;
      background-color: color(white-color);
      @media screen and (min-width: 992px) {
        position: relative;
        background-color: color(primary);
      }
    }
    .navbar-nav {
      .dropdown {
        $parent: &;
        .nav-link {
          color: color(black-color);
          font-weight: 700;
          font-size: 15px;
        }
        &-menu {
          top: 100%;
          padding: 0;
          border: 0;
          border-radius: 2px;
          .dropdown-item {
            padding: 10px 10px 10px 23px;
            &:hover {
              background-color: color(primary);
            }
          }
        }
      }

      &:not(.social-icons) {
        a:not(.dropdown-item) {
          display: block;
          padding: 6px 12px;
          margin-right: 0;
          transition: all 0.3s ease-in-out;
          border-radius: 0;
          &.active,
          &:hover {
            background-color: color(primary);
          }
          @media screen and (min-width: 992px) {
            border-radius: 6px;
            margin-right: 10px;
            &.active,
            &:hover {
              background-color: color(light-white);
            }
          }
        }
        .nav-item.show.dropdown .nav-link {
          background-color: color(light-white);
        }
      }
    }
    .social-icons {
      a {
        width: 35px;
        height: 35px;
        svg {
          width: 20px;
          height: 20px;
          &:hover path {
            fill: color(footer-bg);
          }
        }
        &:hover {
          background-color: color(light-white);
          animation: zoom 0.4s ease-in-out alternate infinite;
        }
      }
      @media screen and (max-width: 575px) {
        a {
          width: 30px;
          height: 30px;
          img {
            width: 18px;
          }
        }
      }
    }
  }
}
