.header {
  background: url("../../images/img-banner.jpg") no-repeat;
  padding: 100px 0;
  @media screen and (max-width: 768px) {
    padding: 50px 0 100px;
  }
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);

  &-text {
    h1 {
      font-size: 38px;
    }
    @media screen and (max-width: 992px) {
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  &-form {
    form {
      border-radius: 10px;
      @media screen and (min-width: 992px) {
        width: 445px;
      }
    }
  }
}
.animated-bar {
  width: 100px;
  height: 5px;
  background-color: color(footer-copyright);
  span {
    width: 10px;
    height: 10px;
    left: 0;
    top: -2px;
    animation: animCircle 2s ease-in-out infinite alternate;
  }
}
.services {
  padding: 160px 0 80px;
  -webkit-clip-path: polygon(16% 0, 100% 5%, 100% 100%, 0 100%, 0 5%);
  clip-path: polygon(16% 0, 100% 5%, 100% 100%, 0 100%, 0 5%);
  @media screen and (max-width: 992px) {
    -webkit-clip-path: polygon(16% 0, 100% 4%, 100% 100%, 0 100%, 0 4%);
    clip-path: polygon(16% 0, 100% 4%, 100% 100%, 0 100%, 0 4%);
  }
  @media screen and (max-width: 575px) {
    -webkit-clip-path: polygon(16% 0, 100% 2%, 100% 100%, 0 100%, 0 2%);
    clip-path: polygon(16% 0, 100% 2%, 100% 100%, 0 100%, 0 2%);
  }

  &-wrapper {
    &-title {
      border-left: 3px solid color(heading-border-left);
      color: color(black-color);
      transition: all 0.3s ease;
      &:hover {
        color: color(heading-border-left);
      }
    }
    &-icon {
      width: 70px;
      height: 70px;
    }
    &:hover &-icon {
      animation: imgHover 0.3s ease-in-out alternate;
    }
    &-text {
      color: color(services-p);
    }
  }
}

.technology {
  padding: 80px 0;
  &-list-all {
    img {
      width: 80px;
      height: 80px;
    }
  }
  .nav-link {
    border-radius: 6px;
    padding: 7px 10px;
    cursor: pointer;
    color: color(heading-border-left);
    &.active {
      background-color: color(primary);
      color: color(black-color);
    }
  }
}

.portfolio {
  padding: 50px 0;
  .img-box {
    height: 350px;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: color(overlay);
    }
    &,
    img,
    &::after {
      border-radius: 6px 0 0 6px;
    }
    img {
      object-position: top;
    }
  }
  .carousel {
    &-control {
      &-prev,
      &-next {
        width: 4%;
        height: 12%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: color(input);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        &:hover {
          background-color: color(heading-border-left);
        }
        &-icon {
          background-size: 85%;
        }
      }
      &-prev {
        left: -3%;
      }
      &-next {
        right: -3%;
      }
    }
    &:hover {
      .carousel-control {
        &-prev,
        &-next {
          opacity: 1;
        }
        &-prev {
          left: -7%;
        }
        &-next {
          right: -7%;
        }
      }
    }
    &-caption {
      background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);
      border-radius: 10px;
      @media screen and (max-width: 992px) {
        left: 5%;
        right: 5%;
      }
      @media screen and (max-width: 768px) {
        left: 0%;
        margin: 0 20px;
        position: relative;
        margin-top: 50px;
      }
      &-box {
        &:not(:last-child)::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 50px;
          background-color: color(input);
        }
        @media screen and (max-width: 769px) {
          &:nth-child(2)::after {
            width: 0px;
          }
        }
        &-text {
          color: color(caption-heading);
        }
        &-img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .page {
    &-title {
      font-size: 22px;
    }
  }
}

.call-us {
  background: color(bg-call-us) url("../../images/testimonial-bg.webp")
    no-repeat;
  background-size: cover;
  &-user {
    height: 400px;
  }
  .stats {
    background: color(bg-stats) url("../../images/shape.webp") no-repeat;
    width: 600px;
    right: 200px;
    top: 85%;
    border-radius: 10px;
    @media screen and (max-width: 1200px) {
      right: 100px;
    }
    @media (min-width: 2000px) {
      @include stats;
    }
    @media (max-width: 992px) {
      @include stats;
    }
    @media screen and (max-width: 768px) {
      width: 490px;
      top: 110%;
      &-title {
        font-size: 28px;
      }
      &-detail {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 575px) {
      width: 90%;
    }
  }
}

.process {
  padding: 150px 0 80px;
  &-img {
    height: 250px;
    &-text {
      top: 29%;
      transform: translateX(-50%);
    }
  }
}
