@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.bg-light-gray {
  background-color: color(bg-stats);
}
.img-contain {
  object-fit: contain;
  -o-object-fit: contain;
}
.img-cover {
  object-fit: cover;
  -o-object-fit: cover;
}
.font-20 {
  font-size: 20px;
}

.font-15 {
  font-size: 15px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-21 {
  font-size: 21px;
}
.font-30 {
  font-size: 30px;
}
.font-48 {
  font-size: 48px;
}
.fw-500 {
  font-weight: 500;
}
.lh-md {
  line-height: 1.7;
}
.lh-6 {
  line-height: 1.6;
}
h3 {
  font-size: 25px;
  @media screen and (max-width: 768px) {
    font-size: 22px;
  }
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}
p {
  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}
h4 {
  font-size: 21px;
}
h5 {
  letter-spacing: 1px;
}
h6 {
  color: color(input);
}
.rounded-6-right {
  border-radius: 0 6px 6px 0;
}
.bg-footer-copyright {
  background-color: color(footer-copyright);
}
.custom-container {
  @media screen and (min-width: 1400px) {
    max-width: 1235px;
  }
}
.custom-container-sm {
  @media screen and (min-width: 1400px) {
    max-width: 1065px;
  }
}
